In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (1.2.3)

WARNING: You are using pip version 20.2.1; however, version 21.1.1 is available.
You should consider upgrading via the 'c:\users\hp\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [9]:
import pandas as pd

In [12]:
l1 = ["Kolkata", "Delhi", "Mumbai", "Chennai", "Bangalore", "Pune"]
print(l1)
pd.Series(l1)

['Kolkata', 'Delhi', 'Mumbai', 'Chennai', 'Bangalore', 'Pune']

0      Kolkata
1        Delhi
2       Mumbai
3      Chennai
4    Bangalore
5         Pune
dtype: object

In [26]:
l2 = [10,20,30,40,50,60]
s2 = pd.Series(l2)
s2.values
print(s2)
s2.index

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

RangeIndex(start=0, stop=6, step=1)

In [14]:
l3 = [True, False, True, False, False]
pd.Series(l3)

0     True
1    False
2     True
3    False
4    False
dtype: bool

In [35]:
d1 = {"MCA":"2nd Sem.", "BTECH":"CSE", "MTECH":"ECE"}
s1 = pd.Series(d1)
s1["MCA"]
s1.values
s1.dtype

dtype('O')

In [34]:
l1 = ["Kolkata", "Delhi", "Mumbai", "Chennai", "Bangalore", "Pune"]
l4 = ["Sun", "Mon","Tue", "Wed", "Thu", "Fri"]

pd.Series(l1,l4)

Sun      Kolkata
Mon        Delhi
Tue       Mumbai
Wed      Chennai
Thu    Bangalore
Fri         Pune
dtype: object

In [38]:
l5 = [10.22,20.11,30.33,40.44,50.55,60.66]
s3 = pd.Series(l5)
s3.sum()

212.30999999999997

In [39]:
s3.product()

772983261.320834

In [43]:
print(s3)
s3.mean()
s3.median()

0    10.22
1    20.11
2    30.33
3    40.44
4    50.55
5    60.66
dtype: float64

35.385

In [44]:
data = pd.read_csv("pokemon.csv")

In [48]:
data.head(10)

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire
5   Charizard   Fire
6    Squirtle  Water
7   Wartortle  Water
8   Blastoise  Water
9    Caterpie    Bug

In [49]:
data.tail()

       Pokemon     Type
716    Yveltal     Dark
717    Zygarde   Dragon
718    Diancie     Rock
719      Hoopa  Psychic
720  Volcanion     Fire

In [50]:
url1 = "https://raw.githubusercontent.com/apratim777/apratim777/master/pokemon.csv"
data2 = pd.read_csv(url1)
data2

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]